<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/js/jquery-3.6.0.js"></script>
</head>

<body>
  <div class="header">
    <div>
      <div class="img-extra">
        <img src="/img/extra/om.png" alt="">
      </div>
    </div>
    <div class="om">
      <h3>Olimpiadas Tokio 2020</h3>
    </div>
  </div>
  <div class="container">
    <div class="select-sport">
      <div class="img-country">
        <img id="img_pais" src="/img/paises/all.png" alt="">
      </div>
      <div>
        <select name="country" id="country">
          <option disabled selected>Seleccione un país</option>
        </select>
      </div>
    </div>
    <div class="select-medals">
      <div class="img-medal">
        <img id="img_medal" src="/img/medals/all.png" alt="">
      </div>
      <div>
        <select name="medal" id="medal">
          <option disabled selected>Seleccione la medalla que ha ganado el país</option>
        </select>
      </div>
    </div>

    <h1>Participantes</h1>
    <div class="card">
    </div>
  </div>
</body>
<script src="js/jquery-3.6.0.js"></script>
<script src="js/code.js"></script>

</html>