<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div>

  </div>
  <div class="container">
    <div class="img">
      <img src="/public/img/paises/ECU.png" alt="">
    </div>
    <div class="select-sport">
      <select name="country" id="country">
        <option disabled>Seleccione un país</option>
        <option value="ECU">Ecuador</option>
      </select>
    </div>
    <div class="select-medals">
      <select name="medal" id="medal">
        <option disabled>Seleccione la medalla que ha ganado el país</option>
        <option value="oro">Oro</option>
      </select>
    </div>
    <div class="card-people">
      <div class="img-people">
        <img src="/public/img/paises/ECU.png" alt="">
      </div>
      <div class="content">
        <p><strong>Nombre:</strong>Henry Pérez</p>
        <p><strong>Deporte:</strong>Natación</p>
        <p><strong>Competición:</strong>Individual</p>
      </div>
    </div>
  </div>
</body>

</html>