<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
</head>

<body>
  <div>

  </div>
  <div class="container">
    <div class="select-sport">
      <div class="img">
        <img src="/img/paises/ECU.png" alt="">
      </div>
      <select name="country" id="country">
        <option disabled selected>Seleccione un país</option>
        <option value="ECU">Ecuador</option>
      </select>
    </div>
    <div class="select-medals">
      <select name="medal" id="medal">
        <option disabled selected>Seleccione la medalla que ha ganado el país</option>
        <option value="oro">Oro</option>
      </select>
    </div>
    <div class="card-people">
      <div class="img-people">
        <img src="/img/paises/ECU.png" alt="">
      </div>
      <div class="content">
        <p><strong>Nombre:</strong>Henry Pérez</p>
        <p><strong>Deporte:</strong>Natación</p>
        <p><strong>Competición:</strong>Individual</p>
      </div>
    </div>
  </div>

  <script src="js/code.js"></script>
</body>

</html>