<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/js/jquery-3.6.0.js"></script>
</head>

<body>
  <div>

  </div>
  <div class="container">
    <div class="select-sport">
      <div class="img-country">
        <img src="/img/paises/ECU.png" alt="">
      </div>
      <select name="country" id="country">
        <option disabled selected>Seleccione un país</option>
        <option value="ECU">Ecuador</option>
      </select>
    </div>
    <div class="select-medals">
      <div class="img-medal">
        <img src="/img/medals/all.png" alt="">
      </div>
      <div>
        <select name="medal" id="medal">
          <option disabled selected>Seleccione la medalla que ha ganado el país</option>
          <option value="oro">Oro</option>
        </select>
      </div>
    </div>

    <div class="card">
      <div class="card-people">
        <div class="img-people">
          <img src="/img/people/Masculino.png" alt="">
        </div>
        <div class="content">
          <p><strong>Nombre:</strong>Henry Pérez</p>
          <p><strong>Deporte:</strong>Natación</p>
          <p><strong>Competición:</strong>Individual</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>